* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}

body {
    background-color: #FFA500;
    min-height: 100vh;
}

.header {
    height: 120px;
    padding: 20px;
    display: flex;
}


.headerLogo {
    width: 200px;
}

.imageWrapper {
    position: relative;
}

.contentTotal {
    display: flex; /*content_wrapper*/
    flex-direction: row;
}

.contentRestaurant {
    width: calc(100% - 408px); /*content*/
    background-color: white;
}

.contentRestaurantImage {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.companyIcon {
    position: absolute;
    bottom: -35px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
}

.contentRestaurantTitelbox {
    padding: 20px;
};

.restaurantRating {
    color: #FFA500;
}

.contentRestaurantNavbar {
    display: flex;
    gap: 20px;
    background-color: #E5E4E2;
    padding: 5px 10px 5px 10px;
    width: 100%;
}

.navLink {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.navLink:hover {
    background-color: white;
    color: #FFA500;
}

.contentRestaurantCategory {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 5px;
    width: 100%;
}

.contentCategoryPizzaImg, .contentCategoryPastaImg, .contentCategoryDessertImg {
    width: 100%;
    height: 150px;
    object-fit: cover;
    padding: 5px;
    border-radius: 10px;
}

/*h2 {
    padding: 10px 10px 10px 20px;
}*/

/*p {
    padding: 0px 10px 5px 20px;
}*/

.dishItem {
    object-fit: cover;
    width: calc(100% - 10px);
    border-width: 1px;
    border: solid;
    border-color: #E5E4E2;
    border-radius: 5px;
    margin: 5px;
    padding: 20px;
}

.hidden {
    display: none;
}

.dishHeader {
    display: flex;
    justify-content: space-between; /* Platz zwischen Titel und Button aufteilen */
    align-items: center;
    margin-bottom: 10px;
}

.dishHeader h2 {
    margin: 0; /* Kein Abstand, damit es gut aussieht */
}

.addToBasketButton {
    background-color: #FFA500;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-right: 5px; /* Button um 5px nach links versetzen */
    border-radius: 4px;
    cursor: pointer;
}

.addToBasketButton:hover {
    background-color: #ff7f00;
}

.dishItem p {
    margin: 0 0 10px 0; /* Abstände zwischen den Texten */
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background-color: #FFA500;
    padding: 20px;
}

.footerBottom {
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #444;
}

