* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}

body {
    background-color: #FFA500;
    min-height: 100vh;
}

.header {
    height: 120px;
    padding: 20px;
    display: flex;
}

.header-logo {
    width: 200px;
}

.image-wrapper {
    position: relative;
}

.content-total {
    display: flex; /*content-wrapper*/
    flex-direction: row;
}

h1 {
    font-size: 32px;
}

.content-restaurant {
    width: 100%; /*content*/
    background-color: white;
}

.content-restaurant-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.company-icon {
    position: absolute;
    bottom: -35px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
}

.content-restaurant-title-box { /* geändert: titelbox -> title-box */
    padding: 20px;
}

.restaurant-rating {
    color: #FFA500;
}

.content-restaurant-nav-bar { /* geändert: navbar -> nav-bar */
    display: flex;
    gap: 20px;
    background-color: #E5E4E2;
    padding: 10px 20px;
    width: 100%;
}

.nav-link {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.nav-link:hover {
    background-color: white;
    color: #FFA500;
}

.content-restaurant-category {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 5px;
    width: 100%;
}

.content-category-pizza-img,
.content-category-pasta-img,
.content-category-desserts-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    padding: 5px;
    border-radius: 10px;
}

p {
    padding: 5px 0px;
}

.dish-item {
    object-fit: cover;
    width: calc(100% - 10px);
    border-width: 1px;
    border: solid;
    border-color: #E5E4E2;
    border-radius: 5px;
    margin: 5px;
    padding: 20px;
}

/*Ein- und Ausblenden*/
.hidden {
    display: none;
}

.visible {
    display: block;
}

.dish-header {
    display: flex;
    justify-content: space-between; /* Platz zwischen Titel und Button aufteilen */
    align-items: center;
    margin-bottom: 10px;
}

.dish-header h2 {
    margin: 0; /* Kein Abstand, damit es gut aussieht */
}

.add-to-basket-button {
    background-color: #FFA500;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-right: 5px; /* Button um 5px nach links versetzen */
    border-radius: 4px;
    cursor: pointer;
}

.add-to-basket-button:hover {
    background-color: #ff7f00;
}

.dish-item p {
    margin: 0 0 10px 0; /* Abstände zwischen den Texten */
}

.footer {
    width: 100%;
    height: 120px;
    background-color: #FFA500;
    padding: 20px;
}

.footer-bottom {
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #444;
}

@media (max-width: 920px) {
    .content-restaurant {
        width: 100%;
        background-color: white;
    }

    .basket-sticky-rail {
        display: none;
    }
}

/*Seite verkleiner für Mobil @media 620px*/
@media (max-width: 620px) {
    .company-icon {
        position: absolute;
        bottom: -25px;
        left: 80%;
        transform: translateX(-50%);
        width: 80px;
        height: 80px;
    }

    .header {
        display: flex;
        justify-content: center;
    }

    .content-restaurant-image {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
}