.basketStickyrail {
    width: 500px; /*basket_wrapper*/
    flex-grow: 1;
    border-width: 2px;
    border-style: solid;
    border-color: grey;
}

.basket {
    width: 100%;
    height: 500px;
    background-color: white;
    position: sticky;
    top: 0;
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 25px;
    box-sizing: border-box;
    overflow-y: auto;
}

.basketItem {
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
    border-bottom: 1px solid #E5E4E2;
}

.basketItemName {
    margin-bottom: 10px; /* Fügt einen Abstand zwischen dem Namen und den Steuerelementen hinzu */
}

.basketItemControls {
    display: flex;
    align-items: center; /* Zentriert die Elemente vertikal */
    gap: 10px; /* Abstand zwischen den Elementen */
}

.basketItemControls button, .basketItemControls p { 
    margin: 0; 
}

.basketItem p {
    margin: 5px 0;
    flex-grow: 1;
}

.basketItem button {
    background-color: #FFA500;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 5px;
}

.basketItem button:hover {
    background-color: #ff7f00;
}

.totalPrice {
    border-top: 2px solid #E5E4E2;
    margin-top: 10px;
}

.placeOrderButton {
    background-color: #FFA500;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.placeOrderButton:hover {
    background-color: #ff7f00;
}

.orderMessage {
    margin-top: 20px;
    font-size: 16px;
    color: green;
}

/* Mobile Basket Button */
.mobileBasketButton {
    display: none; /* Standardmäßig ausblenden */
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color:blue;
    color: white;
    border: none;
    padding: 15px 50px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000;
}

.mobileBasketButton:hover {
    background-color: #ff7f00;
}

@media (max-width: 920px) {
    .basketStickyrail {
        display: none; /* Verbirgt den Desktop-Warenkorb */
    }

    .mobileBasketButton {
        display: block; /* Zeigt den mobilen Warenkorb-Button */
    }

    .basketItemControls button {
        padding: 8px 14px; /* Größere Klickfläche */
        font-size: 14px; /* Etwas größere Schrift */
    }
}