.basket-sticky-rail {
    width: 500px; /* basket-wrapper */
    flex-grow: 1;
    border-width: 2px;
    border-style: solid;
    border-color: grey;
}

.basket {
    width: 100%;
    height: 600px;
    background-color: white;
    position: sticky;
    top: 0;
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 25px;
    box-sizing: border-box;
    overflow-y: auto;
}

.basket-item {
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
    border-bottom: 1px solid #E5E4E2;
}

.basket-item-name {
    margin-bottom: 10px; /* Fügt einen Abstand zwischen dem Namen und den Steuerelementen hinzu */
}

.basket-item-controls {
    display: flex;
    align-items: center; /* Zentriert die Elemente vertikal */
    gap: 10px; /* Abstand zwischen den Elementen */
}

.basket-item-controls button, .basket-item-controls p { 
    margin: 0; 
}

.basket-item p {
    margin: 5px 0;
    flex-grow: 1;
}

.basket-item button {
    background-color: #FFA500;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 5px;
}

.basket-item button:hover {
    background-color: #ff7f00;
}

.total-price {
    border-top: 2px solid #E5E4E2;
    margin-top: 10px;
}

.place-order-button {
    background-color: #FFA500;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.place-order-button:hover {
    background-color: #ff7f00;
}

.order-message {
    margin-top: 20px;
    font-size: 16px;
    color: green;
}

/* Mobile Basket Button */
.mobile-basket-button {
    display: none; /* Standardmäßig ausblenden */
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 50px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1001;
}

.mobile-basket-button:hover {
    background-color: #ff7f00;
}

@media (max-width: 920px) {
    .mobile-basket-button {
        display: block; /* Zeigt den mobilen Warenkorb-Button */
    }

    .basket {
        height: 500px;
    }

    .basket-sticky-rail {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); /* Zentriert den Warenkorb */
        width: 90%;
        height: auto;
        z-index: 1002; /* Über anderen Inhalten */
        background-color: white; /* Hintergrundfarbe */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Schatten */
    }

    .basket-sticky-rail.visible {
        display: block; /* Sichtbar machen, wenn 'visible' */
    }

    .basket-sticky-rail.visible {
        display: block; /* Sichtbar, wenn aktiviert */
    }

    .content-restaurant {
        transition: opacity 0.3s ease;
    }
}