.contentTotal {
    display: flex; /*content_wrapper*/
    flex-direction: row;
    background-color: black; 
}

.contentRestaurant {
    width: calc(100% - 308px); /*content*/
    background-color: white;
}

/*.test_content {
    padding: 32px;
    font-size: 48px;
    height: 1500px;
    width: 100%;
    background-color: yellow;
}*/

.basketStickyrail {
    width: 300px; /*basket_wrapper*/
    flex-grow: 1;
    border-width: 2px;
    border-style: solid;
    border-color: grey;
}

.basket {
    width: 100%; /*basket*/
    height: 500px;
    background-color: white;
    position: sticky;
    top: 0;
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 25px;
    box-sizing: border-box;
}

.basket-item {
    width: 100%;
    padding: 5px;
    border-bottom: 1px solid #E5E4E2;
}